<h1>Consolas de Video juegos</h1>
<h3>Famicon</h3>
<br>

<article>
    <div class="card" style="width: 29rem;">
        <img class="card-img-top" src="./assets/images/famicom.webp" alt="Card image cap">    
        </div>
     
 
  </article>   
<p>En 1983, se lanza la primera consola para el hogar: la Famicom japonesa que se convirtió en NES para
     el resto del mundo. Un éxito rotundo del que se vendieron más de 60 millones de unidades. Funcionaba 
     con cartuchos y le valió a la compañía para crear las bases de su imaginario popular.</p>
